/* Drawer */


.content-pane-inner-top{
    height: 80px;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}
.content-pane-inner-center {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}

.right .top-bar {
    left: auto;
    right: 0;
}
.top-bar {
    width: 100%;
    height: 98%;
   
}
.black .top-bar {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid #808080;
}

.black .hamburger-button {
    background: url(../images/menu-white.png) no-repeat center center;
}

.black .content-pane-display {
    background: #000;
    border-color: #808080;
}

.white .top-bar {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #808080;
}

.white .hamburger-button {
    background: url(../images/menu-black.png) no-repeat center center;
}

.white .content-pane-display {
    background: #fff;
    border-color: #808080;
  
}
.blue .top-bar {
    
    background: #6d7ae2;
    border-bottom: 1px solid #808080;
}

.blue .hamburger-button {
    background: url(../images/menu-black.png) no-repeat center center;
}

.blue .content-pane-display {
   background: #6d7ae2;
    border-color: #808080;
  
}
.hidden .content-pane-inner-top {
    visibility: hidden;
    display: none;
}

.hidden .content-pane-left {
    visibility: hidden;
    display: none;
}

.right .app-title {
    float: right;
}

.hamburger-button {
    float: left;
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 34px;
    width: 34px;
}

.right .hamburger-button {
    float: right;
}

.border-container-outer {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}
.border-container-inner{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}



.content-pane-left {
    width: 0;
    max-width: 280px;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    -webkit-transition: width 250ms ease;
    -moz-transition: width 250ms ease;
    -ms-transition: width 250ms ease;
    -o-transition: width 250ms ease;
    transition: width 250ms ease;
  
}

.left .content-pane-display {
    width:100%;
      
 
     border-right-width:1px;
    border-right-style:solid;
}

.right .content-pane-display {
    width:100%;
      
     border-left-width:1px;
    border-left-style:solid;
}
.app-loading .content-pane-left {
    width: 280px;
}

.drawer-open .content-pane-left {
    width: 280px;
    overflow: auto;
    overflow-x: hidden;
   
}


.content-pane-center {
    width: 100%;
    height: 100%;
    padding-top: 0;
    margin: 0;
    border: 0;
}

@media screen and (max-width: 850px) {
    .app-loading .content-pane-left {
        width: 0px;
    }
}
