.esriPopup .titleButton.close {
    right: 3px;
    top: -2px;
    width: 24px;
    height: 24px;
    background-position: 0 0;
    background-size: 425% 250%;
}

.esriPopup .titlePane {
    line-height: 24px;
}
